doctype html
html
  head
    title kns web app
  
    link(rel='stylesheet', href='/stylesheets/css/vendor/bootstrap.min.css')
  
    body
      div.container
        div.row
          div.col-sm-12
            h1 Hello! Here are your logs:
            div#logs(style='font-family: "Courier New"')
    
    script(src='/javascript/vendor/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/log-handler.js')
