doctype html
html
  head
    title kns web app
  
    link(rel='stylesheet', href='/stylesheets/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/main.css')
  
    body
      div.container
        div.row
          div.col-md-3.col-md-push-9.options
            h1 &nbsp;
            
            h4 Metadata
            div.metadata
              div(data-toggle-meta='timestamp').default-color.check Timestamp
              div(data-toggle-meta='log-level').default-color.check Log Level
              div(data-toggle-meta='npm-module').location-information.check NPM Module
              div(data-toggle-meta='javascript-file').location-information Javascript file
              div(data-toggle-meta='function').location-information Function
              div(data-toggle-meta='line-number').location-information Line number
            
            h4 Log Level
            div.logging-level
              div(data-filter='debug').debug.check Debug
              div(data-filter='info').info.check Info
              div(data-filter='warn').warn.check Warning
              div(data-filter='error').error.check Error
              div(data-filter='fatal').fatal.check Fatal
            
          div.col-md-9.col-md-pull-3
            h1 Hello! Here are your logs:
            div#logs.logs
    
    script(src='/javascript/vendor/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/log-handler.js')
