body {
  background-color: #f1f1f1;
}

.logs,
.options div {
  font-family: "Courier New";
}

.logs span {
  margin-left: 1px;
  margin-right: 1px;
}

.logs span:first-child {
  margin-left: 0;
}

.logs span:last-child {
  margin-right: 0;
}

.metadata div,
.logging-level div,
.npm-module div {
  padding: 1px 4px;
  cursor: pointer;
}

.options .metadata div:not(:first-child),
.options .logging-level div:not(:first-child),
.options .npm-module div:not(:first-child) {
  margin-top: 1px;
}

.logEntry {
  background-color: #ffffff;
}

.logEntry:not(:first-child) {
  margin-top: 3px;
}

.check:after {
  content: '✔';
  position: absolute;
  right: 22px;
}

.debug {
  background-color: #337ab7;
}

.logging-level .debug:hover {
  background-color: #286090;
}

.info {
  background-color: #5bc0de;
}

.logging-level .info:hover {
  background-color: #31b0d5;
}

.warn {
  background-color: #f0ad4e;
}

.logging-level .warn:hover {
  background-color: #ec971f;
}

.error {
  background-color: #d9534f;
}

.logging-level .error:hover {
  background-color: #c9302c;
}

.fatal {
  background-color: #d9534f;
}

.logging-level .fatal:hover {
  background-color: #c9302c;
}

.location-information,
.npm-module div {
  background-color: #95acda;
}

.metadata .location-information:hover,
.npm-module div:hover {
  background-color: #7c8fb6;
}

.default-color {
  background-color: #b5bfd1;
}

.metadata .default-color:hover {
  background-color: #a2acbe;
}
